<ion-content>
  <ion-tabs>
    <ion-tab-bar  slot="bottom">
      <ion-tab-button   class="tab" tab="schedule">
        <ion-label>Schedule</ion-label>
        <ion-icon name="calendar-outline"></ion-icon>
      </ion-tab-button>
      <ion-tab-button class="tab" tab="historic">
        <ion-label>Historic</ion-label>
        <ion-icon name="newspaper-outline"></ion-icon>
      </ion-tab-button>
      <ion-tab-button class="tab" tab="doubts">
        <ion-label>Doubts</ion-label>
        <ion-icon name="help-circle-outline"></ion-icon>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
