.btn{
    --color: #285078;
    --background: lightgray;
    border: solid 2px grey;
}

.btn-text{
    color: #285078;
    font-size: 15px;
}

.text1{
    color: #285078;
    font-weight: bold;
    font-size: medium;
    margin-top: 4em;
    text-align: center;
}

.text2{
    color: black;
    font-weight: normal;
    font-size: small;
    margin-top: 4em;
}

.text3{
    color: #285078;
    font-weight: bold;
    font-size: medium;
}

.linebottom{
    border-bottom: #285078 solid 2px;
}

.backgray{
    background-color: lightgray;
    margin-top: 1em;
    border: solid gray 1px;
}

.ion-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}