<ion-header class="pos">
  <ion-toolbar >
    <table class='item1'>
      <tr>
        <td class="lin"><img  width=90% src="assets/icon/img/logotrends.PNG"></td>
        <td class="lin1">
          <ion-icon class="but" [routerLink]="['/home']" name="home-outline"></ion-icon>
        </td> 
        <td class="lin2">
          <ion-icon class="but" [routerLink]="['/home']" name="exit-outline"></ion-icon>
        </td>
      </tr>
    </table>
  </ion-toolbar>
  <div class="box1">
    <table class='item2'>
      <tr>
        <td class="cent"><img width="24" height="24" src="assets/icon/img/question.png"></td>
        <br>
        <td>Questions</td> 
      </tr>
    </table>
</div>
</ion-header>

<ion-content class='box'>
  
      <ion-button expand="full" class='item7' [routerLink]="['/answer']" routerDirection="forward" >
        <ion-label>How to I justify my missing the session? </ion-label></ion-button>
      <ion-button expand="full" class='item3' [routerLink]="['/answer']" routerDirection="forward">
        <ion-label>Doubt 1</ion-label></ion-button>
      <ion-button expand="full" class='item3' [routerLink]="['/answer']" routerDirection="forward">
        <ion-label>Doubt 2</ion-label></ion-button>
      <ion-button expand="full" class='item3' [routerLink]="['/answer']" routerDirection="forward">
        <ion-label>Doubt 3</ion-label></ion-button>
      <ion-button expand="full" class='item3' [routerLink]="['/answer']" routerDirection="forward">
        <ion-label>Doubt 4</ion-label></ion-button>
      <ion-button expand="full" class='item3' [routerLink]="['/answer']" routerDirection="forward">
        <ion-label>Doubt 5</ion-label></ion-button>
      <ion-button expand="full" class='item3' [routerLink]="['/answer']" routerDirection="forward">
        <ion-label>Doubt 6</ion-label></ion-button>
      <ion-button expand="full" class='item8' [routerLink]="['/answer']" >
        <ion-label></ion-label></ion-button>
</ion-content>
      
  <div class='box3'>
    <h3>Any more questions? Contact us</h3>
            <p><b>(11) 3667-7240</b></p>
  </div>