<ion-header>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col size="3">
          <ion-icon id="calendar" name="calendar-sharp"></ion-icon>
        </ion-col>
        <ion-col size="5">
          <div class="text1">November, 22</div>
        </ion-col>
        <ion-col size="2" class="ion-align-self-end">
          <ion-button fill="clear" size="small" [routerLink]="['/menu']" routerDirection="forward" lines="none" detail="false">
            <ion-icon slot="icon-only" class="white" name="home-outline"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col size="2" class="ion-align-self-end">
          <ion-button fill="clear" size="small">
            <ion-icon slot="icon-only" class="white" name="exit-outline"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>

    <ion-row>
      <ion-col size="8">
        <div class="timetext">Time: 6:40 pm</div>
      </ion-col>
    </ion-row>

    <ion-card>
      <ion-row>
        <ion-col size="4" class="backblue">
          <div class="cardtext">Student:</div>
          <div class="cardtext">Company:</div>
          <div class="cardtext">Package:</div>
          <div class="cardtext">Session:</div>
          <div class="cardtext">Teacher:</div>
        </ion-col>
  
        <ion-col size="8" class="backgrey">
          <div class="cardtext">Carla Perreira</div>
          <div class="cardtext">Bradesco</div>
          <div class="cardtext">Business Comunication</div>
          <div class="cardtext">Languege Alignment</div>
          <div class="cardtext">Marcel Schimidt</div>
        </ion-col>
      </ion-row>
    </ion-card>

    <ion-row>
      <ion-col size="8">
        <div class="timetext">Time: 7:30 pm</div>
      </ion-col>
    </ion-row>

    <ion-card>
      <ion-row>
        <ion-col size="4" class="backblue">
          <div class="cardtext">Student:</div>
          <div class="cardtext">Company:</div>
          <div class="cardtext">Package:</div>
          <div class="cardtext">Session:</div>
          <div class="cardtext">Teacher:</div>
        </ion-col>
  
        <ion-col size="8" class="backgrey">
          <div class="cardtext">Carla Perreira</div>
          <div class="cardtext">Bradesco</div>
          <div class="cardtext">Business Comunication</div>
          <div class="cardtext">Languege Alignment</div>
          <div class="cardtext">Marcel Schimidt</div>
        </ion-col>
      </ion-row>
    </ion-card>

    <ion-row>
      <ion-col size="8">
        <div class="timetext">Time: 8:20 pm</div>
      </ion-col>
    </ion-row>

    <ion-card>
      <ion-row>
        <ion-col size="4" class="backblue">
          <div class="cardtext">Student:</div>
          <div class="cardtext">Company:</div>
          <div class="cardtext">Package:</div>
          <div class="cardtext">Session:</div>
          <div class="cardtext">Teacher:</div>
        </ion-col>
  
        <ion-col size="8" class="backgrey">
          <div class="cardtext">Carla Perreira</div>
          <div class="cardtext">Bradesco</div>
          <div class="cardtext">Business Comunication</div>
          <div class="cardtext">Languege Alignment</div>
          <div class="cardtext">Marcel Schimidt</div>
        </ion-col>
      </ion-row>
    </ion-card>
      
  </ion-grid>
</ion-content>
