#calendar{
    padding-top: 15px;
    color: white;
    height: 30px;
    width: 100%;
}

.text1{
    text-align: center;
    font-size: larger;
    color: white;
    padding-top: 20px;
}

.timetext{
    color: #285078;
    font-size: larger;
    margin-top: 15px;
    margin-left: 15px;
    border-bottom: #285078 solid 2px;
}

.backblue{
    background: rgb(160, 160, 255);
}

.backgrey{
    background: lightgrey;
}

.cardtext{
    text-align: start;
    font-size: large;
    color: black;
    padding-bottom: 10px;
}