<ion-content>
  <ion-slides pager="true" >
    
    <ion-slide >
      <img src="/assets/icon/img/pginicial.png">
    </ion-slide>
    <ion-slide >
      <img src="/assets/icon/img/segop.png">
    </ion-slide>
    <ion-slide class="item1">
      <div class="box">
        <div class="noticias">
          <div class="interna">
            <h5>A Trend School permitiu que eu <br>

              expandisse a minha compreensão da <br>
              
              língua inglesa e me trouxe a confiança <br>
              
              que eu precisava para interagir.S
            </h5>
          </div>
        </div>
        <div class="img1"> 
          <img src="assets/icon/img/dep1.PNG">
        </div>
      </div>
          
    </ion-slide>
    <ion-slide class="item1">
      <div class="box">
        <div class="noticias">
          <div class="interna">
            <h5>O serviço altamente diferenciado da <br>
              Trend School foi a chave para a nossa parceria estratégica.
              Eles fornecem uma solução de Executive 
              Education and Communication verdadeiramente 
              integrada para nosso executivo sênior
            </h5>
          </div>
        </div>
        <div class="img1"> 
          <img src="assets/icon/img/dep2.PNG">
        </div>
      
      </div> 
    </ion-slide>

  </ion-slides>
</ion-content>