<ion-header>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col size="3.5">
          <ion-button fill="clear" [routerLink]="['/menu']" routerDirection="forward" lines="none" detail="false" style="width: 100%;">
            <ion-icon slot="icon-only" class="white" name="home-outline"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col size="5">
          <div class="titletext">Notifications</div>
        </ion-col>
        <ion-col size="3.5">
          <ion-button fill="clear" style="width: 100%;">
            <ion-icon slot="icon-only" class="white" name="exit-outline"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>


  <ion-grid>
    <ion-row>
      <ion-col>
        <div class="subtitletext">Today
          <ion-icon name="notifications"></ion-icon>
        </div>
      </ion-col>
    </ion-row>

    <ion-card>
      <ion-row>
        <ion-col size="3" class="backblue">
          <ion-icon class="circle" name="ellipse"></ion-icon>
        </ion-col>
  
        <ion-col size="9" class="backblue">
          <div class="cardtext">Session scheduled tomorrow!</div>
          <div class="cardtext">Carla Almeida - 4:30 pm</div>
        </ion-col>
      </ion-row>
    </ion-card>
    <ion-card>
      <ion-row>
        <ion-col size="3"  class="backblue">
          <ion-icon class="circle" name="ellipse"></ion-icon>
        </ion-col>
  
        <ion-col size="9" class="backblue">
          <div class="cardtext">Session scheduled tomorrow!</div>
          <div class="cardtext">Carla Almeida - 4:30 pm</div>
        </ion-col>
      </ion-row>
    </ion-card>

    <ion-row>
      <ion-col>
        <div class="subtitletext">Yesterday
          <ion-icon name="notifications"></ion-icon>
        </div>
      </ion-col>
    </ion-row>

    <ion-card>
      <ion-row>
        <ion-col size="3"  class="backblue">
          <ion-icon class="circle" name="ellipse"></ion-icon>
        </ion-col>
  
        <ion-col size="9" class="backblue">
          <div class="cardtext">Session scheduled tomorrow!</div>
          <div class="cardtext">Carla Almeida - 4:30 pm</div>
        </ion-col>
      </ion-row>
    </ion-card>
    <ion-card>
      <ion-row>
        <ion-col size="3"  class="backblue">
          <ion-icon class="circle" name="ellipse"></ion-icon>
        </ion-col>
  
        <ion-col size="9" class="backblue">
          <div class="cardtext">Session scheduled tomorrow!</div>
          <div class="cardtext">Carla Almeida - 4:30 pm</div>
        </ion-col>
      </ion-row>
    </ion-card>
    <ion-card>
      <ion-row>
        <ion-col size="3"  class="backblue">
          <ion-icon class="circle" name="ellipse"></ion-icon>
        </ion-col>
  
        <ion-col size="9" class="backblue">
          <div class="cardtext">Session scheduled tomorrow!</div>
          <div class="cardtext">Carla Almeida - 4:30 pm</div>
        </ion-col>
      </ion-row>
    </ion-card>
  </ion-grid>
</ion-content>

