.titletext{
    text-align: center;
    font-size: larger;
    color: white;
    padding-top: 20px;
}

.subtitletext{
    color: #285078;
    margin-left: 15px;
    font-size: larger;
    margin-top: 30px;
    text-align: start;
}

.cardtext{
    color: black;
    margin-left: 5px;
    font-size: large;
    margin-bottom: 10px;
    text-align: start;
}

.backblue{
    background: #80aadd80;
}

.circle{
    padding: 40%;
    color: #285078;
}

